.create-booking-submit{
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(229,29,84);
  color: white;
  font-size: 16px;
  margin-top:15px;
  cursor: pointer;
}

.dates_container {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  overflow: hidden;
  width: 100%;
}
.date_input_containers{
  width: 50%;
}
.date_input_containers>label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #e7e7e7;
}

.date_input_containers input {
  padding: 4px;
  margin-top: 4px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  color: #3d3d3d;
}

.date_input_containers input:hover {
  cursor: pointer;
}

.cart-bottom{
  min-height: 120px;
  max-height: 200px;
  min-width: 100%;
}
.cart-calc{
  border-bottom: 1px solid rgba(211, 211, 211, .6);
  padding: 16px 0 16px 0;
}
.cart-calc div{
  display:flex;
  justify-content: space-between;
  padding: 16px 0 0;
}

.cart-calc div span:first-of-type{
  text-decoration: underline;
}

.cart-total{
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  padding: 16px 0 0;
}
