.modal-forms{
  display:flex;
  flex-direction: column;
}

.modal-forms input{
  width: 100%;
}

.login-button{
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(229,29,84);
  color: white;
  font-size: 16px;
  margin-top:15px;
  cursor: pointer;
}
