/* TODO Add site wide styles */
html, body, #root {
  height: 100vh;
  max-width: 100vw;
  margin: auto;
  padding: 0;
}
#root{
  display: flex;
  justify-content: center;
}
#map {
  height: 500px;
}

*{
  box-sizing: border-box;
}
